@import "@/styles/variables.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;

  span {
    color: $black-color;
    font-family: "LolFontRegular";
    font-size: 24px;
  }

  h1 {
    color: $black-color;
    font-family: "LolFontBold";
    font-size: clamp(3rem, 2.5065rem + 2.0779vw, 5rem);
    font-style: italic;
  }
}
